@model List<MyPortfolio_MVC.Models.TblEducation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<h2>Eğitim Hayatım</h2>

<br />
<table class="table table-bordered  table-hover ">
    <tr>
        <th>#</th>
        <th>Okul Adı</th>
        <th>Bölüm</th>
        <th>Başlangıç</th>
        <th>Bitiş</th>
        <th>Derece</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach(var item in Model)

    {
        count++;
        <tr>
            <th>@count</th>
            <th>@item.SchoolName</th>
            <th>@item.Department</th>
            <th>@item.StartDate.Value.ToShortDateString()</th>
            @*<th>@item.StartDate</th>*@
            <th>@(String.IsNullOrEmpty(item.EndDate?.ToString()) ? "Devam Ediyot": item.EndDate?.ToShortDateString())</th>
            <th>@item.Degree</th>
            <th><a href="/Education/DeleteEducation/@item.EducationId" class="btn btn-outline-danger ">Sil</a></th>
            <th><a href="/Education/UpdateEducation/@item.EducationId" class="btn btn-outline-info ">Güncelle</a></th>

        </tr>

    }


</table>
